* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font-family {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Hero Section Styles */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .navbar {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1360px;
    padding: 16px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 152%;
}

.btn {
    background-color: #469165;
    padding: 14px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.hero-container .early-access {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    background-color: white;
    color: #469165;
    border-radius: 20px;
    /* border: 2px solid red; */
    width: 240px;
    margin: 122px auto 16px;
    border: none;
}

.hero-container .early-access img {
    margin-right: 6px;
}

.hero-container h1 {
    width: 770px;
    font-size: 72px;
    margin: 8px 0px 20px;
}

.color-white {
    color: white;
}

.color-green {
    color: #30B868;
}

.hero-container p {
    font-size: 18px;
    line-height: 33px;
    color: white;
    margin-bottom: 32px;
}

button {
    cursor: pointer;
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 179.5px;
}

.hero-button a {
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.unfill-button {
    background-color: transparent;
    border: 1px solid white;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 12px
}

.idea-container {
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.idea-container .idea-content {
    border: 2px solid black;
    margin: 60px 0px 44px;
}

.idea-content h1 {
    font-size: 44px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.idea-content p {
    line-height: 20px;
    font-size: 16px;
    color: #627382;
}