* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font-family {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: #001931;
}

/* Hero Section Styles */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .navbar {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1360px;
    padding: 16px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 152%;
}

.btn {
    background-color: #469165;
    padding: 14px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.hero-container .early-access {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    background-color: white;
    color: #469165;
    border-radius: 20px;
    /* border: 2px solid red; */
    width: 240px;
    margin: 122px auto 16px;
    border: none;
}

.hero-container .early-access img {
    margin-right: 6px;
}

.hero-container h1 {
    width: 770px;
    font-size: 72px;
    margin: 8px 0px 20px;
}

.color-white {
    color: white;
}

.color-green {
    color: #30B868;
}

.hero-container p {
    font-size: 18px;
    line-height: 33px;
    color: white;
    margin-bottom: 32px;
}

button {
    cursor: pointer;
}

section {
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 179.5px;
}

.hero-button a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-button a img {
    margin-left: 5px;

}

.unfill-button {
    background-color: transparent;
    border: 1px solid white;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 12px
}

.idea-container {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.idea-container .idea-content {
    /* border: 2px solid black; */
    margin: 60px 0px 44px;
}

.idea-content h1 {
    font-size: 44px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.idea-content p {
    line-height: 20px;
    font-size: 16px;
    color: #627382;
}

.idea-card {
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.idea-card .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .card-img-box {
    width: 60px;
    height: 60px;
    /* border: 2px solid red; */
    background-color: #F95555;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-bottom: 16px;
    margin-top: 69px;
}

.idea-card .card h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
}

.idea-card .card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    width: 275px;
    text-align: center;
    margin-bottom: 69px;
}

.solution {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 45px;
}

.solution-container {
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    width: 85%;
    max-width: 1360px;
    justify-content: space-evenly;
}

.solution-container .knowledge {
    width: 600px;
    height: 600px;
}

.soluction-content .the-solution {
    font-size: 16px;
    color: #30B868;
    line-height: 20px;
    margin-bottom: 16px;
}

.soluction-content h1 {
    font-size: 48px;
    margin-bottom: 16px;
    color: #001931;
}

.soluction-content p {
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.soluction-content ul {
    list-style: none;
}

.soluction-content ul li {
    font-size: 16px;
    color: #001931;
    line-height: 20px;
    padding: 16px;
    display: flex;
    align-items: center;
}

.soluction-content ul li img {
    margin-right: 8px;
}

.early-access-container {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 180px 40px;
}


.early-content {
    background-color: #80808026;
    box-shadow: 0px 1px 20px #00000042;
    padding: 70px 0px;
    border-radius: 10px;
    width: 85%;
    max-width: 1360px;
}

.early-access-content h1 {
    font-size: 40px;
    color: #001931;
    font-weight: bold;
    margin-bottom: 16px;
}

.early-access-content p {
    line-height: 24px;
    font-size: 16px;
    color: #627382;
    margin-bottom: 24px;
}

.early-access-button {
    margin-bottom: 16px;
}

.early-access-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.early-access-button a img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}



footer {
    background-color: #001931;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .footer-container {
    /* border: 2px solid red; */
    width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 120px 30px 120px;
}

footer .footer-container .footer-content {
    /* border: 2px solid gray; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .social-link h3 {
    color: white;
}

footer .social-link img {
    background-color: white;
    border-radius: 50px;
    margin: 8px 8px 8px 0px;
}

footer .copyright {
    border-top: 1px solid gray;
    margin: 80px 120px 30px 120px;
    width: 85%;
    max-width: 1360px;
    text-align: center;
}

footer .copyright p {
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin-top: 25px;
}